<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myhaazzguideapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kaaba"
        android:label="Hazz Guide"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".About_us"
            android:parentActivityName=".BottomNevigation_bar"></activity>
        <activity
            android:name=".Quiz_part.Qibla"
            android:theme="@style/AppTheme_NoActionBar" />
        <activity android:name=".Quiz_part.Tasbeeh" />
        <activity android:name=".Quiz_part.ResultActivity" />
        <activity android:name=".Quiz_part.Hajj_quiz" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".MyLocation.GeoLocation" />
        <activity
            android:name=".Dua.Dua_details"
            android:parentActivityName=".BottomNevigation_bar" />
        <activity
            android:name=".Books.pdf_books"
            android:parentActivityName=".BottomNevigation_bar" />
        <activity
            android:name=".Links_video.WebView_link"
            android:parentActivityName=".BottomNevigation_bar" />
        <activity android:name=".BottomNevigation_bar" />
        <activity android:name=".Dua.Dua_items" />
        <activity android:name=".guide.Details" />
        <activity android:name=".guide.UserGuide" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme_NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>